In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
raindata = pd.read_excel("E:/WinHackaton/analyze/raindata.xlsx")
raindata.head()

,Unnamed: 0,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec,State_Name
0,0,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3,Andaman & Nicobar Islands
1,1,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7,Andaman & Nicobar Islands
2,2,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6,Andaman & Nicobar Islands
3,3,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0,Andaman & Nicobar Islands
4,4,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8,Andaman & Nicobar Islands

In [3]:
crop = pd.read_excel("E:/WinHackaton/analyze/newnew_1.xlsx")

In [4]:
crop.State_Name.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Odisha', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telangana', 'Uttar Pradesh',
       'Uttarakhand', 'Assam', 'Chandigarh', 'Haryana', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Sikkim', 'Tripura',
       'West Bengal'], dtype=object)

In [5]:
cropdata = crop[(crop['State_Name']=='West Bengal')|
                (crop['State_Name']=='Uttar Pradesh')|
                (crop['State_Name']=='Andhra Pradesh')|
                (crop['State_Name']=='Punjab')|
                (crop['State_Name']=='Haryana')|
                (crop['State_Name']=='Madhya Pradesh')|
                (crop['State_Name']=='Rajasthan')|
                (crop['State_Name']=='Gujarat')|
                (crop['State_Name']=='Maharashtra')|
                (crop['State_Name']=='Karnataka')|
                (crop['State_Name']=='Tamil Nadu')|
                (crop['State_Name']=='Telangana')|
                (crop['State_Name']=='Kerala')|
                (crop['State_Name']=='Himachal Pradesh')|
                (crop['State_Name']=='Assam')|
                                  
                (crop['State_Name']=='Chhattisgarh')|
                (crop['State_Name']=='Bihar')|
                (crop['State_Name']=='Odisha')|
                (crop['State_Name']=='Jammu and Kashmir')|
                (crop['State_Name']=='Jharkhand')|
                (crop['State_Name']=='Goa')|
                (crop['State_Name']=='Arunachal Pradesh')|
                (crop['State_Name']=='Manipur')|
                (crop['State_Name']=='Sikkim')|
                (crop['State_Name']=='Nagaland')|
                (crop['State_Name']=='Uttarakhand')|
                (crop['State_Name']=='Tripura')|
                (crop['State_Name']=='Meghalaya')|
                (crop['State_Name']=='Mizoram')]

In [6]:
cropdata.State_Name.unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Bihar', 'Chhattisgarh',
       'Goa', 'Gujarat', 'Himachal Pradesh', 'Jammu and Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Odisha', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telangana', 'Uttar Pradesh', 'Uttarakhand', 'Assam', 'Haryana',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Sikkim', 'Tripura',
       'West Bengal'], dtype=object)

In [7]:
raindata.State_Name.unique()

array(['Andaman & Nicobar Islands', 'Arunachal Pradesh', 'Meghalaya',
       'Nagaland', 'West Bengal', 'Orissa', 'Jharkhand', 'Bihar',
       'Uttar Pradesh', 'Uttarakhand', 'Haryana', 'Punjab',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Rajasthan',
       'Madhya Pradesh', 'Gujarat', 'Konkan & Goa', 'Maharashtra',
       'Matathwada', 'Vidarbha', 'Chhattisgarh', 'Coastal Andhra Pradesh',
       'Telangana', 'Rayalseema', 'Tamil Nadu', 'Karnataka', 'Kerala',
       'Lakshadweep', 'Assam', 'Manipur', 'Mizoram', 'Tripura', 'Sikkim',
       'Delhi', 'Chandigarh'], dtype=object)

In [8]:
raindata.shape

(4116, 20)

In [9]:
valid_states_rain = raindata[['State_Name','YEAR','Jun-Sep']]

In [10]:
valid_states_rain = valid_states_rain[valid_states_rain['YEAR']>1996]
valid_states_rain.shape

(684, 3)

In [11]:
len(valid_states_rain.State_Name.unique())

36

In [12]:
valid_states_rain.State_Name.unique()

array(['Andaman & Nicobar Islands', 'Arunachal Pradesh', 'Meghalaya',
       'Nagaland', 'West Bengal', 'Orissa', 'Jharkhand', 'Bihar',
       'Uttar Pradesh', 'Uttarakhand', 'Haryana', 'Punjab',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Rajasthan',
       'Madhya Pradesh', 'Gujarat', 'Konkan & Goa', 'Maharashtra',
       'Matathwada', 'Vidarbha', 'Chhattisgarh', 'Coastal Andhra Pradesh',
       'Telangana', 'Rayalseema', 'Tamil Nadu', 'Karnataka', 'Kerala',
       'Lakshadweep', 'Assam', 'Manipur', 'Mizoram', 'Tripura', 'Sikkim',
       'Delhi', 'Chandigarh'], dtype=object)

In [13]:
new_valid_states_rain = valid_states_rain[(valid_states_rain['State_Name']=='West Bengal')|
                             (valid_states_rain['State_Name']=='Uttar Pradesh')|
                             (valid_states_rain['State_Name']=='Coastal Andhra Pradesh')| #ye
                             (valid_states_rain['State_Name']=='Punjab')|
                             (valid_states_rain['State_Name']=='Haryana')|
                             (valid_states_rain['State_Name']=='Madhya Pradesh')|
                             (valid_states_rain['State_Name']=='Rajasthan')|
                             (valid_states_rain['State_Name']=='Gujarat')|
                             (valid_states_rain['State_Name']=='Maharashtra')|
                             (valid_states_rain['State_Name']=='Karnataka')|
                             (valid_states_rain['State_Name']=='Tamil Nadu')| #ye
                             (valid_states_rain['State_Name']=='Telangana')|
                             (valid_states_rain['State_Name']=='Kerala')|
                             (valid_states_rain['State_Name']=='Himachal Pradesh')|
                             (valid_states_rain['State_Name']=='Assam')|
                                  
                             (valid_states_rain['State_Name']=='Chhattisgarh')|
                             (valid_states_rain['State_Name']=='Bihar')|
                             (valid_states_rain['State_Name']=='Orissa')| #ye
                             (valid_states_rain['State_Name']=='Jammu & Kashmir')| #ye
                             (valid_states_rain['State_Name']=='Jharkhand')|
                             (valid_states_rain['State_Name']=='Konkan & Goa')| #ye
                             (valid_states_rain['State_Name']=='Arunachal Pradesh')|
                             (valid_states_rain['State_Name']=='Manipur')|
                             (valid_states_rain['State_Name']=='Sikkim')|
                             (valid_states_rain['State_Name']=='Nagaland')|
                             (valid_states_rain['State_Name']=='Uttarakhand')|
                             (valid_states_rain['State_Name']=='Tripura')|
                             (valid_states_rain['State_Name']=='Meghalaya')|
                             (valid_states_rain['State_Name']=='Mizoram')]

In [14]:
new_valid_states_rain.State_Name.unique()

array(['Arunachal Pradesh', 'Meghalaya', 'Nagaland', 'West Bengal',
       'Orissa', 'Jharkhand', 'Bihar', 'Uttar Pradesh', 'Uttarakhand',
       'Haryana', 'Punjab', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Rajasthan', 'Madhya Pradesh', 'Gujarat', 'Konkan & Goa',
       'Maharashtra', 'Chhattisgarh', 'Coastal Andhra Pradesh',
       'Telangana', 'Tamil Nadu', 'Karnataka', 'Kerala', 'Assam',
       'Manipur', 'Mizoram', 'Tripura', 'Sikkim'], dtype=object)

In [15]:
cropdata.State_Name.unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Bihar', 'Chhattisgarh',
       'Goa', 'Gujarat', 'Himachal Pradesh', 'Jammu and Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Odisha', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telangana', 'Uttar Pradesh', 'Uttarakhand', 'Assam', 'Haryana',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Sikkim', 'Tripura',
       'West Bengal'], dtype=object)

In [16]:
new_valid_states_rain = new_valid_states_rain.replace('Coastal Andhra Pradesh','Andhra Pradesh')
new_valid_states_rain = new_valid_states_rain.replace('Orissa','Odisha')
#new_valid_states_rain = new_valid_states_rain.replace('Tamil Nadu','Tamilnadu')
new_valid_states_rain = new_valid_states_rain.replace('Jammu & Kashmir','Jammu and Kashmir')
new_valid_states_rain = new_valid_states_rain.replace('Konkan & Goa','Goa')

In [19]:
new_valid_states_rain

             State_Name  YEAR  Jun-Sep
188   Arunachal Pradesh  1997   1583.7
189   Arunachal Pradesh  1998   2707.4
190   Arunachal Pradesh  1999   1519.0
191   Arunachal Pradesh  2000   1650.0
192   Arunachal Pradesh  2001   1147.8
...                 ...   ...      ...
3881             Sikkim  2011   1858.6
3882             Sikkim  2012   2056.0
3883             Sikkim  2013   1717.6
3884             Sikkim  2014   1862.6
3885             Sikkim  2015   1883.0

[551 rows x 3 columns]

In [22]:
print(set(new_valid_states_rain['State_Name']))
print(set(cropdata['State_Name']))
print(set(new_valid_states_rain['YEAR']))
print(set(cropdata['Crop_Year']))

{'West Bengal', 'Madhya Pradesh', 'Goa', 'Meghalaya', 'Andhra Pradesh', 'Maharashtra', 'Gujarat', 'Manipur', 'Tripura', 'Tamil Nadu', 'Jammu and Kashmir', 'Arunachal Pradesh', 'Uttar Pradesh', 'Haryana', 'Rajasthan', 'Chhattisgarh', 'Assam', 'Nagaland', 'Mizoram', 'Kerala', 'Jharkhand', 'Himachal Pradesh', 'Bihar', 'Telangana', 'Odisha', 'Uttarakhand', 'Karnataka', 'Sikkim', 'Punjab'}
{'West Bengal', 'Madhya Pradesh', 'Goa', 'Meghalaya', 'Andhra Pradesh', 'Maharashtra', 'Gujarat', 'Manipur', 'Tripura', 'Tamil Nadu', 'Jammu and Kashmir', 'Arunachal Pradesh', 'Uttar Pradesh', 'Haryana', 'Rajasthan', 'Chhattisgarh', 'Assam', 'Nagaland', 'Mizoram', 'Kerala', 'Jharkhand', 'Himachal Pradesh', 'Bihar', 'Telangana', 'Odisha', 'Uttarakhand', 'Karnataka', 'Sikkim', 'Punjab'}
{1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015}
{1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015}

In [23]:
states_set = set(cropdata['State_Name'])
year_set = set(cropdata['Crop_Year'])
print(states_set)
print(year_set)

{'West Bengal', 'Madhya Pradesh', 'Goa', 'Meghalaya', 'Andhra Pradesh', 'Maharashtra', 'Gujarat', 'Manipur', 'Tripura', 'Tamil Nadu', 'Jammu and Kashmir', 'Arunachal Pradesh', 'Uttar Pradesh', 'Haryana', 'Rajasthan', 'Chhattisgarh', 'Assam', 'Nagaland', 'Mizoram', 'Kerala', 'Jharkhand', 'Himachal Pradesh', 'Bihar', 'Telangana', 'Odisha', 'Uttarakhand', 'Karnataka', 'Sikkim', 'Punjab'}
{1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015}

In [24]:
for state in states_set:
    for year in year_set:
        #print(valid_states_crop[valid_states_crop['State']==state]['Year'])
        if(year in list(cropdata[cropdata['State_Name']==state]['Crop_Year'])):
            #print(state,year)
            cropdata.loc[(cropdata['State_Name']==state) & \
                              (cropdata['Crop_Year']==year),'Jun-Sep']= \
            list(new_valid_states_rain[(new_valid_states_rain['State_Name']==state) & \
                                   (new_valid_states_rain['YEAR']==year)]['Jun-Sep'])[0]

C:\Users\Harsh\Anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Harsh\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [25]:
cropdata

,Unnamed: 0,State_Name,Crop_Year,Crop,Area,Production,District_name,Rainfall_amt,Season,Jun-Sep
144,144,Andhra Pradesh,1997,Arhar/Tur,21400.0,2600.0,Anantapur,low,Kharif,662.7
145,145,Andhra Pradesh,1997,Bajra,1400.0,500.0,Anantapur,low,Kharif,662.7
146,146,Andhra Pradesh,1997,Castor seed,1000.0,100.0,Anantapur,low,Kharif,662.7
147,147,Andhra Pradesh,1997,Cotton(lint),7300.0,9400.0,Anantapur,low,Kharif,662.7
148,148,Andhra Pradesh,1997,Dry chillies,3700.0,7100.0,Anantapur,low,Kharif,662.7
...,...,...,...,...,...,...,...,...,...,...
233556,233556,West Bengal,2014,Rice,306.0,801.0,Purulia,high,Summer,1862.6
233557,233557,West Bengal,2014,Sesamum,627.0,463.0,Purulia,high,Summer,1862.6
233558,233558,West Bengal,2014,Sugarcane,324.0,16250.0,Purulia,high,Whole Year,1862.6
233559,233559,West Bengal,2014,Rice,279151.0,597899.0,Purulia,high,Winter,1862.6
233560,233560,West Bengal,2014,Sesamum,175.0,88.0,Purulia,high,Winter,1862.6

In [26]:
cropdata.shape

(233327, 10)

In [27]:
cropdata.isnull().sum()

Unnamed: 0       0
State_Name       0
Crop_Year        0
Crop             0
Area             0
Production       0
District_name    0
Rainfall_amt     0
Season           0
Jun-Sep          0
dtype: int64

In [38]:
cropdata.State_Name.unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Bihar', 'Chhattisgarh',
       'Goa', 'Gujarat', 'Himachal Pradesh', 'Jammu and Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Odisha', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telangana', 'Uttar Pradesh', 'Uttarakhand', 'Assam', 'Haryana',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Sikkim', 'Tripura',
       'West Bengal'], dtype=object)

In [37]:
new_valid_states_rain = valid_states_rain[(valid_states_rain['State_Name']=='West Bengal')|
                             (valid_states_rain['State_Name']=='Uttar Pradesh')|
                             (valid_states_rain['State_Name']=='Coastal Andhra Pradesh')| #ye
                             (valid_states_rain['State_Name']=='Punjab')|
                             (valid_states_rain['State_Name']=='Haryana')|
                             (valid_states_rain['State_Name']=='Madhya Pradesh')|
                             (valid_states_rain['State_Name']=='Rajasthan')|
                             (valid_states_rain['State_Name']=='Gujarat')|
                             (valid_states_rain['State_Name']=='Maharashtra')|
                             (valid_states_rain['State_Name']=='Karnataka')|
                             (valid_states_rain['State_Name']=='Tamil Nadu')| #ye
                             (valid_states_rain['State_Name']=='Telangana')|
                             (valid_states_rain['State_Name']=='Kerala')|
                             (valid_states_rain['State_Name']=='Himachal Pradesh')|
                             (valid_states_rain['State_Name']=='Assam')|
                                  
                             (valid_states_rain['State_Name']=='Chhattisgarh')|
                             (valid_states_rain['State_Name']=='Bihar')|
                             (valid_states_rain['State_Name']=='Orissa')| #ye
                             (valid_states_rain['State_Name']=='Jammu & Kashmir')| #ye
                             (valid_states_rain['State_Name']=='Jharkhand')|
                             (valid_states_rain['State_Name']=='Konkan & Goa')| #ye
                             (valid_states_rain['State_Name']=='Arunachal Pradesh')|
                             (valid_states_rain['State_Name']=='Manipur')|
                             (valid_states_rain['State_Name']=='Sikkim')|
                             (valid_states_rain['State_Name']=='Nagaland')|
                             (valid_states_rain['State_Name']=='Uttarakhand')|
                             (valid_states_rain['State_Name']=='Tripura')|
                             (valid_states_rain['State_Name']=='Meghalaya')|
                             (valid_states_rain['State_Name']=='Mizoram')]

TypeError: 'DataFrame' object is not callable

In [39]:
cropdata.to_excel("E:/WinHackaton/analyze/cropdata_four_months_rainfall.xlsx")