In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

data = pd.read_excel("newnew_1.xlsx")
df = pd.DataFrame(data)

In [2]:
df[((df['Crop'] == 'Rice') & (df['District_name'] == 'Belgaum') & (df['Year'] == 2010))]

,Unnamed: 0,State_Name,Year,Crop,Area,Production,District_name,Rainfall_amt,Season
54116,54116,Karnataka,2010,Rice,68354.0,139200.0,Belgaum,very high,Kharif
54145,54145,Karnataka,2010,Rice,115.0,372.0,Belgaum,very high,Summer

In [3]:
def yield__(crop,dis):
    a = df[(df['District_name'] == dis)]
    k = 0
    for i in (a['Crop']).iteritems():
        if str(i[1]) == crop:
            k = k+1
    if k == 0:
        return json.dumps({'error': 'Not found'})
    a = a[(a['Crop'] == crop)]
    b = []
    for i in (a['Year']).iteritems():
        b.append(int(i[1]))
        
    b = list(set(b))
    b.reverse()
    
    c = []
    for i, j in zip(b,range(5)):
        c.append(i)
    b = c
    
    pr=[]
    for i in range(len(b)):
            ai = a[(a['Year'] == b[i])]
            ai = float((ai['Production']).max())
            pr.append(ai)
    print(pr)
    print(b)
    
yield__('Rice','Belgaum')

[176688.0, 123581.0, 94818.0, 158758.0, 139200.0]
[2014, 2013, 2012, 2011, 2010]